<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js" type="text/javascript"></script>
<div id="pressContent">
  {% if theme.image_sets.lookbook_images.size > 0 %}
  <button id="slideShowPrevious" class="slideshow-button">&#10094;</button>
  <div class="lookbook-gallery">
    {% for image in theme.image_sets.lookbook_images %}
    <img
      alt=""
      class="lazy lookbook-gallery-image"
      src="{{ image.url | constrain: '300','' }}"
      data-src="{{ image.url | constrain: '760','' }}"
      data-srcset="{{ image.url | constrain: '1520','' }} 2x, {{ image.url | constrain: '760','' }} 1x"
    />
    {% endfor %}
  </div>
  <button id="slideShowNext" class="slideshow-button">&#10095;</button>
  {% endif %}
</div>

