body {
  /* background-image: linear-gradient(rgb(18, 16, 16), rgb(25, 22, 22)), url("images/sidewalk_background.jpg"); */
  background-image: url("images/sidewalk_background.jpg");
  /* filter: opacity(1) drop-shadow(0 0 0 #350b5f); */
}

.center {
  display: flex;
  justify-content: center;
  padding: 5% 10%;
}

/* Gum Splash Screen / Home */

#about-blob:hover {
  background-image: url("images/gum/aboutpage_scroll.png") !important;
}

#friends-blob:hover {
  background-image: url("images/gum/palspage_scroll.png") !important;
}

#home-blob:hover {
  background-image: url("images/gum/homepage_scroll.png") !important;
}

#press-blob:hover {
  background-image: url("images/gum/presspage_scroll.png") !important;
}

#shop-blob:hover {
  background-image: url("images/gum/shop_scroll.png") !important;
}

#archive-blob:hover {
  background-image: url("images/gum/archivepage_scroll.png") !important;
}

div[type="gumBlob"]:hover {
  z-index: 0 !important;
}

@media only screen and (max-width: 1300px) {
  div[type="gumBlob"] {
    width: 23vmax !important;
    height: 23vmax !important;
  }
}

@media only screen and (max-width: 1000px) {
  div[type="gumBlob"] {
    width: 22vmax !important;
    height: 22vmax !important;
  }
}

@media only screen and (max-width: 700px) {
  div[type="gumBlob"] {
    width: 20vmax !important;
    height: 20vmax !important;
  }

  div[type="gumBlob"]:hover {
    background-size: 140% !important;
    z-index: 4 !important;
  }

  /* On mobile always display the scroll version of the gum image */
  #about-blob {
    background-image: url("images/gum/aboutpage_scroll.png") !important;
  }

  #friends-blob {
    background-image: url("images/gum/palspage_scroll.png") !important;
  }

  #home-blob {
    background-image: url("images/gum/homepage_scroll.png") !important;
  }

  #press-blob {
    background-image: url("images/gum/presspage_scroll.png") !important;
  }

  #shop-blob {
    background-image: url("images/gum/shop_scroll.png") !important;
  }

  #archive-blob {
    background-image: url("images/gum/archivepage_scroll.png") !important;
  }
}
