.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#headerImage {
    background-image: url("images/chalk-press-logo.webp");
    background-position: center !important;
    background-repeat: no-repeat;
    color: #FFFFFF;
    display: block;
    height: 6em;
    max-width: 100% !important;
    position: relative;
    background-size: contain;
}

.center {
  display: flex;
  justify-content: center;
  padding: 5% 10%;
}

@media screen and (max-width: 768px) {
  .video {
    width: 90% !important;
    max-height: 30% !important;
  }
}

div[type="gumBlob"]:hover {
  background-size: 110% !important;
  color: red !important;
  z-index: 4 !important;
}

@media only screen and (max-width: 1300px) {
  div[type="gumBlob"] {
    width: 27vmax !important;
    height: 27vmax !important;
  }
}

@media only screen and (max-width: 1000px) {
  div[type="gumBlob"] {
    width: 25vmax !important;
    height: 25vmax !important;
  }
}

@media only screen and (max-width: 700px) {
  div[type="gumBlob"] {
    width: 25vmax !important;
    height: 25vmax !important;
  }
}
