<!DOCTYPE html>
<html>
  <head>
    <title>{{ store.name }} &mdash; {{ page.name }}</title>

    <meta charset="utf-8" />
    <meta name="description" content="{{ page.meta_description }}" />
    <meta name="keywords" content="{{ page.meta_keywords }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="{{ theme | theme_css_url }}" media="screen" rel="stylesheet" type="text/css" />

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js" type="text/javascript"></script>
    <link
      href="https://github.com/jkulskis/chalk-press/blob/main/source/images/favicon.png?raw=true"
      rel="icon"
      type="image/x-icon"
    />

    {{ head_content }}
  </head>

  <body id="{{ page.permalink }}" class="{{ page.category }}">
    <nav class="header-nav-container"></nav>
    <a href="/" title="{{ store.name | escape }}">
      {% if theme.logo != blank %}
      <img id="chalkPressLogo" src="{{ theme.logo.url }}" alt="{{ store.name }}" />
      {% else %}
      <img
        id="chalkPressLogo"
        src="https://github.com/jkulskis/chalk-press/blob/main/source/images/logos/concrete_logo_white.png?raw=true"
        alt="{{ store.name }}"
      />
      {% endif %}
    </a>
    <div class="cb">
      {% if page.name != 'Home' %}
      <div id="content"></div>
      <div class="sidebar">
        <div class="navbox">
          <a class="navlink" href="/" id="navHome"> Home </a>
          <a class="navlink" href="/about" id="navAbout"> About </a>
          <a class="navlink" href="/products" id="navShop"> Shop </a>
          <a class="navlink" href="/press" id="navPress"> Press </a>
          <a class="navlink" href="/archive" id="navArchive"> Archive </a>
          <a class="navlink" href="/friends" id="navFriends"> Friends </a>
          <p>{{data: "%s%N"}}</p>
          <a class="sidebar-cart navlink" href="/cart">
            <!-- Cart ({{ cart.total | money_with_sign }})</a> -->
            <img
              id="cartGif"
              src="https://github.com/jkulskis/chalk-press/blob/main/source/images/cart.gif?raw=true"
              alt="CART"
            />
            <div id="cartItemCount">{{ cart.item_count }}</div>
          </a>
        </div>
        <div class="sidebar-sotd">
          <img
            id="sotdGif"
            src="https://github.com/jkulskis/chalk-press/blob/main/source/images/enjoyer_of_music.gif?raw=true"
            alt="Enjoyer of Music"
          />
          <div id="sotd"></div>
          <button id="playPauseButton">▶️</button>
        </div>
      </div>
      {% endif %}
      <div class="wrap">
        <section class="cbc">
          {% if errors != blank %}
          <ul class="unstyled errors">
            {% for error in errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
          {% endif %} {% if page.category == 'custom' %} {{ page_content | paragraphs }} {% else %} {{ page_content }}
          {% endif %}
        </section>
      </div>
    </div>
    <script src="{{ 'api' | theme_js_url }}"></script>
    <script src="{{ theme | theme_js_url }}"></script>
  </body>
</html>

<script>
  if (window.location.pathname !== "/") {
    var playPauseButton = document.getElementById("playPauseButton");
    var curr_track = document.createElement("audio");
    var isPlaying = false;

    function playTrack() {
      // Play the loaded track
      curr_track.play();
      isPlaying = true;

      // Replace icon with the pause icon
      playPauseButton.innerHTML = "⏸️";
    }

    function pauseTrack() {
      // Pause the loaded track
      curr_track.pause();
      isPlaying = false;

      // Replace icon with the play icon
      playPauseButton.innerHTML = "▶️";
    }

    function playPauseTrack() {
      // Switch between playing and pausing
      // depending on the current state
      document.removeEventListener("click", playPauseTrack);
      if (!isPlaying) playTrack();
      else pauseTrack();
    }

    document.addEventListener("click", playPauseTrack);

    $.get("/sotd.html", function (sotd_content) {
      const sotds = sotd_content.split("\n");
      const date = new Date();
      const sotd_index = (date.getFullYear() * (date.getDate() + 1) * (date.getMonth() + 1)) % sotds.length;
      const sotd = sotds[sotd_index];
      let song_info = sotd.split(",");
      let [song_name, artist_name, mp3_link] = [song_info[0].trim(), song_info[1].trim(), song_info[2].trim()];
      curr_track.src = mp3_link;
      curr_track.load();
      document.getElementById("sotd").innerHTML = `${song_name} by ${artist_name}`;
    });
    if ($("#sotd").text() == "") document.getElementById("sotd").innerHTML = `Sudehead by Morrissey`;
    document.getElementById("playPauseButton").addEventListener("click", playPauseTrack, false);
  }

  if (window.location.pathname == "/archive") {
    var slideIndex = 0;

    showSlide(slideIndex);

    function nextImage() {
      showSlide((slideIndex -= 1));
    }

    function previousImage() {
      showSlide((slideIndex += 1));
    }

    document.getElementById("slideShowPrevious").addEventListener("click", previousImage, false);
    document.getElementById("slideShowNext").addEventListener("click", nextImage, false);

    function showSlide(n) {
      let images = document.getElementsByClassName("lookbook-gallery-image");
      if (n >= images.length) {
        slideIndex = 0;
      }
      if (n < 0) {
        slideIndex = images.length - 1;
      }
      for (let i = 0; i < images.length; i++) {
        images[i].style.display = "none";
      }
      images[slideIndex].style.display = "block";
    }
  }
</script>
<script>
  (function () {
    $(function () {
      return $(".product_images").on("click", "a", function (event) {
        event.preventDefault();
        $(".primary_image").prop("src", $(this).prop("href"));
        $(".product_images li.selected").removeClass("selected");
        return $(this).closest("li").addClass("selected");
      });
    });
  }.call(this));
  (function () {
    $(function () {
      return $("body#cart").on("click", ".remove", function (event) {
        event.preventDefault();
        return $(this).closest("li").find("input[id$=_qty]").val(0).closest("form").submit();
      });
    });
  }.call(this));
</script>
